html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title=title
  body
    h1 (This is title) #{title}
    p=content
    ul
      each name in data
        li= name.name
        a(href = `/name/${name.id}`) read more